<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned headroom--not-top"
  style="height: 60px;">
  <div class="container-fluid" style="height: 60px">
    <a class="navbar-brand ml-lg-5 mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/logo.JPG" style="height: 60px;">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" role="button" href="/#/filterfriends">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <h4 class="text-white"><span class="nav-link-inner--text">Tìm kiếm</span></h4>
          </a>

        </li>

      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">

        <li *ngIf="this.authenticationService.IsLogin == true" class="nav-item">
          <button (click)="onViewNotification()" class="btn icons" role="button" type="button" rel="tooltip" data-toggle="modal"
            data-target="#showNotification" title="">
            <i class="ni ni-bell-55" style="font-size: 20px;"></i>
          </button>
          <div class="label-icons">
            <span class="text-white"><small>*</small></span>
          </div>

        </li>

        <li *ngIf="this.authenticationService.IsLogin == true" class="nav-item">
          <button class="btn icons" (click)="onMessageClick()">
            <i class="ni ni-chat-round" style="font-size: 20px;"></i>
          </button>
          <div class="label-icons">
            <span class="text-white"><small>*</small></span>
          </div>
        </li>
        <li *ngIf="this.authenticationService.IsLogin == false" class="nav-item d-none d-lg-block ml-lg-4">
          <a href="/#/login" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-sign-in mr-2"></i>
            </span>
            <span class="nav-link-inner--text"><a>Đăng nhập</a></span>
          </a>
        </li>
        <li *ngIf="this.authenticationService.IsLogin == false" class="nav-item d-none d-lg-block">
          <a [routerLink]="['/register']" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-plus mr-2"></i>
            </span>
            <span class="nav-link-inner--text"><a>Đăng kí</a></span>
          </a>
        </li>
        <li *ngIf="this.authenticationService.IsLogin == true">
          <div class="dropleft">
            <div class="btn" style="padding: 0%; border-radius: 50%;" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <!-- <img *ngIf="!authenticationService.UserInfo.hasAvatar" class="imgAvatar"
                src="{{authenticationService.UserInfo.avatarPath}}" alt="avatar"> -->
              <img class="imgAvatar"
                src="{{authenticationService.UserInfo.avatarPath}}" alt="avatar">
            </div>
            <div class="dropdown-menu">
              <a href="javascript:;" (click)="clickMyProfile()" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>Xem hồ sơ</span>
              </a>
              <a href="javascript:;" class="dropdown-item">
                <i class="ni ni-image"></i>
                <span>Ảnh</span>
              </a>
              <a href="/#/friendlist" class="dropdown-item">
                <i class="ni ni-chat-round"></i>
                <span>Tin nhắn<sup class="text-danger">{{messageAwait}}</sup></span>
              </a>
              <a href="/#/changepassword" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Đổi mật khẩu</span>
              </a>
              <a href="/#/statistic;" class="dropdown-item">
                <i class="ni ni-image"></i>
                <span>Thống kê</span>
              </a>
              <a href="/#/manager-user" class="dropdown-item">
                <i class="ni ni-image"></i>
                <span>Quản lý người dùng</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="javascript:;" class="dropdown-item" (click)="logout()">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade bd-example-modal-sm" id="showNotification" tabindex="2" role="dialog"
  aria-labelledby="updateFeature" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" role="document">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="notification-popup" *ngFor="let item of notificationUserService.Notification">
          <div style="padding-top: 5px;" class="row">
            <div style="max-width:80px;" class="col-6 mt-5 mt-sm-0">
              <!-- <img *ngIf="item.hasAvatar" src="data:image/gif;base64,{{item.avatar}}" alt="Raised circle image"
                class="img-fluid rounded-circle shadow-lg" style="width: 150px;"> -->
              <img src="{{item.avatar}}" alt="Raised circle image"
                class="img-fluid rounded-circle shadow-lg" style="width: 150px;">

            </div>
            <div>
              <p class="d-block mb-0">{{item.fullName}} {{item.content}}</p>
              <div class='row' style="margin-bottom: -12px;">
                <small style="margin-left: 13px;" class="d-block mb-4">{{item.createdAt}}</small>
                <i style="margin-left: 4px; margin-top:1px" class="ni ni ni-world"></i>
              </div>
            </div>
          </div>
        </div>

        <div style="text-align: center; margin-top:5px">
          <button *ngIf="!loadingNotification" (click)="onMoreNotifications()" type="button" class="btn btn-outline-primary">
            Xem thêm</button>
            <div *ngIf="loadingNotification">
              <fa-icon style="color:#5E72E4" size="3x" [icon]="faSpinner" [spin]="true"></fa-icon>  
            </div>
        </div>
      </div>
    </div>
  </div>
</div>