.imgAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-nav .dropdown-menu:before {
  transform: rotate(-45deg) translateY(3rem);
  left: 150px;
}

.icons{
  float: left;
  margin: 2%;
  background: whitesmoke;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-icons{
  float: left;
  margin: 2%;
  margin-top: 0%;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}


button:focus {outline:0;}



#navbar-main{
  height: 70px;
}

.notification-popup:hover{
  background-color: rgba(207, 212, 214, 0.589);
}

.notification-popup{
  cursor: pointer;
}
.modal-content{

}