.imgAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-info {
  padding: 0% 0 10% 0;
}

.user-name {
  margin: 0 0 0 3%;
  font-weight: 600;
}

.navbar-nav-custom .dropdown-menu:before {
  transform: rotate(-45deg) translateY(3rem);
  left: 150px;
}

.icons {
  float: left;
  margin: 2%;
  background: whitesmoke;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-icons {
  float: left;
  margin: 2%;
  margin-top: 0%;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}


button:focus {
  outline: 0;
}



#navbar-main {
  height: 70px;
}

.notification-popup:hover {
  background-color: rgba(207, 212, 214, 0.589);
}

.notification-popup {
  cursor: pointer;
}

.modal-content {}

.logo-image {
  height: 50px;
  overflow: hidden;
}

.space-right {
  margin-right: 5%;
}

@media(max-width: 768.01px) {
  .hide-when-small {
    display: none;
  }

  .logo-image {
    height: 40px;
    overflow: hidden;
  }
}