<div id="alert-custom">
    <alert></alert>
</div>

<div class="space">
</div>
<div [ngClass]="isSearch ? 'show' :  'hide'">
    <h3 class="text-primary text-center font-weight-600">Đang tìm quanh đây...</h3>
    <div class="loading-content">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <div #openSearchModal type="button" rel="tooltip" data-toggle="modal" data-target="#searchModal">
    </div>
</div>

<div [ngClass]="isSearch ? 'hide' :  'show'" class="container">

    <div class="search-option">
        <h3 class="text-primary text-center">
            Tìm kiếm những người xung quanh bạn...
        </h3>
        <button (click)="modal.nativeElement.click();" class="btn btn-primary">
            tùy chọn tìm kiếm
        </button>
    </div>

    <div class="user-group d-flex justify-content-between">

        <div *ngFor="let user of users" class="user" (click)="onCLickUser(user.id)">
            <div class='d-flex justify-content-center'>
                <img class="rounded-circle avatar-custom limit-width" alt="Image placeholder" src="{{user.avatarPath}}">
            </div>

            <p class="title">
                {{user.fullName}}
            </p>
            <div class='d-flex justify-content-center'>
                <p class="distance">
                    {{user.distance.toFixed(2)}} km
                </p>
                <p class="age">
                    {{user.dob | agePipe}}
                </p>
            </div>

            <p class='content'>
                {{user.summary}}
            </p>
        </div>

    </div>

    <div *ngIf="!isFinalPage" class="center-button view-more">

        <button *ngIf="!isLoadingMore" (click)="onMore()" class="btn btn-primary">Xem thêm</button>

        <button *ngIf="isLoadingMore" class="btn btn-primary">
            <fa-icon size="1x" [icon]="faSpinner" [spin]="true"></fa-icon>
            Đang tải...
        </button>
    </div>
</div>


<!-- Confirm relationship modal -->
<div class="modal fade bd-example-modal-sm" id="searchModal" tabindex="2" role="dialog" aria-labelledby="searchModal"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h6 class="modal-title text-primary" id="exampleModalLabel">Tìm kiếm quanh đây</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="d-flex justify-content-between">
                    <div class="custom-control custom-radio mb-3">
                        <input name="custom-radio-1" (change)="onChangeRadioButton($event)" class="custom-control-input"
                            id="customRadio1" type="radio" value="0" checked>
                        <label class="custom-control-label" for="customRadio1">Tất cả</label>
                    </div>

                    <div class="custom-control custom-radio mb-3">
                        <input name="custom-radio-1" (change)=onChangeRadioButton($event) class="custom-control-input"
                            id="customRadio2" type="radio" value="1">
                        <label class="custom-control-label" for="customRadio2">Nam</label>
                    </div>

                    <div class="custom-control custom-radio mb-3">
                        <input name="custom-radio-1" (change)=onChangeRadioButton($event) class="custom-control-input"
                            id="customRadio3" type="radio" value="2">
                        <label class="custom-control-label" for="customRadio3">Nữ</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="example-number-input" class="form-control-label">Độ tuổi:</label>
                    <select (change)="onChangeSelect($event)" class="form-control">
                        <option value="-1">Tất cả</option>
                        <option value="0">Dưới 18 tuổi</option>
                        <option value="1">Từ 18 đến 25</option>
                        <option value="2">Từ 25 đến 30</option>
                        <option value="3">Từ 31 đến 40</option>
                        <option value="4">Từ 41 đến 50</option>
                        <option value="5">Trên 50</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="example-number-input" class="form-control-label">Bán kính (km):</label>
                    <input (change)="onChangeNumber($event)" class="form-control" type="number" value="20"
                        id="example-number-input">
                </div>

                <div class="text-right">
                    <button type="button" (click)="onSearch()" class="btn btn-primary btn-sm" data-dismiss="modal"
                        aria-label="Close">Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space">
</div>
<app-footer></app-footer>