<div class="video-container">
  <div *ngIf="users != undefined && users.length > 1" class="your-friend-video">
    <app-video-member [className]="'friend-video'" [user]="users[1]">
    </app-video-member>
  </div>

  <div *ngIf="users != undefined ">
    <app-video-member [className]="'my-video'" [user]="users[0]">
    </app-video-member>
  </div>

  <div class="actions">
    <ul class="nav nav-pills nav-pills-circle" id="tabs_2" role="tablist">
      <li class="nav-item hover-item">
        <a class="nav-link" style="background-color: #5e72e4;" role="tab" aria-controls="home" aria-selected="true">
          <span class="nav-link-icon d-block">
            <fa-icon style="color:white" size="5x" [icon]="faVideo" [spin]="false"></fa-icon>
          </span>
        </a>
      </li>
      <li class="nav-item hover-item">
        <a class="nav-link" style="background-color: #5e72e4;" role="tab" aria-controls="profile" aria-selected="false">
          <span class="nav-link-icon d-block">
            <fa-icon style="color:white" size="5x" [icon]="faMicrophone" [spin]="false"></fa-icon>
          </span>
        </a>
      </li>
      <li class="nav-item hover-item">
        <a class="nav-link" style="background-color: red;" role="tab" aria-controls="contact" aria-selected="false">
          <span class="nav-link-icon d-block">
            <fa-icon style="color:white" size="5x" [icon]="faPhoneAlt" [spin]="false"></fa-icon>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>