.name{
    margin-top: 10%;
    margin-left: 2%;
}
.avatar{
    width: 100px;
    height: 100px;
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }