<div class="dropup menu-icon">
  <button
    class="btn btn-primary icon-button"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="ni ni-satisfied"></i>
  </button>

  <div class="dropdown-menu">
    <div class="menu-icon-container">
      <p (click)="onClick($event)" class="chat-icon">😀</p>
      <p (click)="onClick($event)" class="chat-icon">😃</p>
      <p (click)="onClick($event)" class="chat-icon">😄</p>
      <p (click)="onClick($event)" class="chat-icon">😁</p>
      <p (click)="onClick($event)" class="chat-icon">😆</p>
      <p (click)="onClick($event)" class="chat-icon">😅</p>
      <p (click)="onClick($event)" class="chat-icon">😂</p>
      <p (click)="onClick($event)" class="chat-icon">🤣</p>
      <p (click)="onClick($event)" class="chat-icon">😊</p>
      <p (click)="onClick($event)" class="chat-icon">😇</p>
      <p (click)="onClick($event)" class="chat-icon">🙂</p>
      <p (click)="onClick($event)" class="chat-icon">🙃</p>
      <p (click)="onClick($event)" class="chat-icon">😉</p>
      <p (click)="onClick($event)" class="chat-icon">😌</p>
      <p (click)="onClick($event)" class="chat-icon">😍</p>
      <p (click)="onClick($event)" class="chat-icon">🥰</p>
      <p (click)="onClick($event)" class="chat-icon">😘</p>
      <p (click)="onClick($event)" class="chat-icon">😗</p>
      <p (click)="onClick($event)" class="chat-icon">😙</p>
      <p (click)="onClick($event)" class="chat-icon">😚</p>
      <p (click)="onClick($event)" class="chat-icon">😋</p>
      <p (click)="onClick($event)" class="chat-icon">😛</p>
      <p (click)="onClick($event)" class="chat-icon">😝</p>
      <p (click)="onClick($event)" class="chat-icon">😜</p>
      <p (click)="onClick($event)" class="chat-icon">🤪</p>
      <p (click)="onClick($event)" class="chat-icon">🤨</p>
      <p (click)="onClick($event)" class="chat-icon">🧐</p>
      <p (click)="onClick($event)" class="chat-icon">🤓</p>
      <p (click)="onClick($event)" class="chat-icon">😎</p>
      <p (click)="onClick($event)" class="chat-icon">🤩</p>
      <p (click)="onClick($event)" class="chat-icon">🥳</p>
      <p (click)="onClick($event)" class="chat-icon">😏</p>
      <p (click)="onClick($event)" class="chat-icon">😒</p>
      <p (click)="onClick($event)" class="chat-icon">😞</p>
      <p (click)="onClick($event)" class="chat-icon">😔</p>
      <p (click)="onClick($event)" class="chat-icon">😟</p>
      <p (click)="onClick($event)" class="chat-icon">😕</p>
      <p (click)="onClick($event)" class="chat-icon">🙁</p>
      <p (click)="onClick($event)" class="chat-icon">☹️</p>
      <p (click)="onClick($event)" class="chat-icon">😣</p>
      <p (click)="onClick($event)" class="chat-icon">😖</p>
      <p (click)="onClick($event)" class="chat-icon">😫</p>
      <p (click)="onClick($event)" class="chat-icon">😩</p>
      <p (click)="onClick($event)" class="chat-icon">🥺</p>
      <p (click)="onClick($event)" class="chat-icon">😢</p>
      <p (click)="onClick($event)" class="chat-icon">😭</p>
      <p (click)="onClick($event)" class="chat-icon">😤</p>
      <p (click)="onClick($event)" class="chat-icon">😠</p>
      <p (click)="onClick($event)" class="chat-icon">😡</p>
      <p (click)="onClick($event)" class="chat-icon">🤬</p>
      <p (click)="onClick($event)" class="chat-icon">🤯</p>
      <p (click)="onClick($event)" class="chat-icon">😳</p>
      <p (click)="onClick($event)" class="chat-icon">🥵</p>
      <p (click)="onClick($event)" class="chat-icon">🥶</p>
      <p (click)="onClick($event)" class="chat-icon">😱</p>
      <p (click)="onClick($event)" class="chat-icon">😨</p>
      <p (click)="onClick($event)" class="chat-icon">😰</p>
      <p (click)="onClick($event)" class="chat-icon">😥</p>
      <p (click)="onClick($event)" class="chat-icon">😓</p>
      <p (click)="onClick($event)" class="chat-icon">🤗</p>
      <p (click)="onClick($event)" class="chat-icon">🤔</p>
      <p (click)="onClick($event)" class="chat-icon">🤭</p>
      <p (click)="onClick($event)" class="chat-icon">🤫</p>
      <p (click)="onClick($event)" class="chat-icon">🤥</p>
      <p (click)="onClick($event)" class="chat-icon">😶</p>
      <p (click)="onClick($event)" class="chat-icon">😐</p>
      <p (click)="onClick($event)" class="chat-icon">😑</p>
      <p (click)="onClick($event)" class="chat-icon">😬</p>
      <p (click)="onClick($event)" class="chat-icon">🙄</p>
      <p (click)="onClick($event)" class="chat-icon">😯</p>
      <p (click)="onClick($event)" class="chat-icon">😦</p>
      <p (click)="onClick($event)" class="chat-icon">😧</p>
      <p (click)="onClick($event)" class="chat-icon">😮</p>
      <p (click)="onClick($event)" class="chat-icon">😲</p>
      <p (click)="onClick($event)" class="chat-icon">🥱</p>
      <p (click)="onClick($event)" class="chat-icon">😴</p>
      <p (click)="onClick($event)" class="chat-icon">🤤</p>
      <p (click)="onClick($event)" class="chat-icon">😪</p>
      <p (click)="onClick($event)" class="chat-icon">😵</p>
      <p (click)="onClick($event)" class="chat-icon">🤐</p>
      <p (click)="onClick($event)" class="chat-icon">🥴</p>
      <p (click)="onClick($event)" class="chat-icon">🤢</p>
      <p (click)="onClick($event)" class="chat-icon">🤮</p>
      <p (click)="onClick($event)" class="chat-icon">🤧</p>
      <p (click)="onClick($event)" class="chat-icon">😷</p>
      <p (click)="onClick($event)" class="chat-icon">🤒</p>
      <p (click)="onClick($event)" class="chat-icon">🤕</p>
      <p (click)="onClick($event)" class="chat-icon">🤑</p>
      <p (click)="onClick($event)" class="chat-icon">🤠</p>
      <p (click)="onClick($event)" class="chat-icon">😈</p>
      <p (click)="onClick($event)" class="chat-icon">👿</p>
      <p (click)="onClick($event)" class="chat-icon">👹</p>
      <p (click)="onClick($event)" class="chat-icon">👺</p>
      <p (click)="onClick($event)" class="chat-icon">🤡</p>
      <p (click)="onClick($event)" class="chat-icon">💩</p>
      <p (click)="onClick($event)" class="chat-icon">👻</p>
      <p (click)="onClick($event)" class="chat-icon">💀</p>
      <p (click)="onClick($event)" class="chat-icon">☠️</p>
      <p (click)="onClick($event)" class="chat-icon">👽</p>
      <p (click)="onClick($event)" class="chat-icon">👾</p>
      <p (click)="onClick($event)" class="chat-icon">🤖</p>
      <p (click)="onClick($event)" class="chat-icon">🎃</p>
      <p (click)="onClick($event)" class="chat-icon">😺</p>
      <p (click)="onClick($event)" class="chat-icon">😸</p>
      <p (click)="onClick($event)" class="chat-icon">😹</p>
      <p (click)="onClick($event)" class="chat-icon">😻</p>
      <p (click)="onClick($event)" class="chat-icon">😼</p>
      <p (click)="onClick($event)" class="chat-icon">😽</p>
      <p (click)="onClick($event)" class="chat-icon">🙀</p>
      <p (click)="onClick($event)" class="chat-icon">😿</p>
      <p (click)="onClick($event)" class="chat-icon">😾</p>
    </div>
  </div>
</div>
