.user {
    flex-wrap: wrap;

    h4 {
        width: 100%;
        padding: 1%;
    }
}

.container-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 1000px;
}

.limit-width {
    width: 200px;
    height: 200px;
}