<section>

    <div class="d-flex align-items-center header">
        <header>
            Những hội viên đã tìm được đối tượng trên Zinger
        </header>
        <div class="center-button">
            <button (click)="onSignUp()" class="btn btn-primary">Tham gia ngay</button>
        </div>
    </div>

    <div class="user-group d-flex justify-content-between">

        <div class="user">
            <div class='d-flex justify-content-center'>
                <img class="rounded-circle avatar-custom limit-width" alt="Image placeholder"
                    src="../../../assets/img/theme/wedding-01.JPG">
            </div>

            <p class="title">
                Cảm ơn trang hẹn hò này tôi đã tìm được người vừa ý xứng đôi
            </p>

            <p class='content'>
                Cảm ơn trang hẹn hò này tôi đã tìm được người vừa ý xứng đôi
            </p>
        </div>

        <div class="user">
            <div class='d-flex justify-content-center'>
                <img class="rounded-circle avatar-custom limit-width" alt="Image placeholder"
                    src="../../../assets/img/theme/wedding-01.JPG">
            </div>

            <p class="title">
                tôi đã tìm được người vừa ý xứng đôi
            </p>

            <p class='content'>
                Cảm ơn trang hẹn hò này tôi đã tìm được người vừa ý xứng đôi
            </p>
        </div>

        <div class="user">
            <div class='d-flex justify-content-center'>
                <img class="rounded-circle avatar-custom limit-width" alt="Image placeholder"
                    src="../../../assets/img/theme/wedding-01.JPG">
            </div>

            <p class="title">
                tôi đã tìm được người vừa ý xứng đôi
            </p>

            <p class='content'>
                Cảm ơn trang hẹn hò này tôi đã tìm được người vừa ý xứng đôi
            </p>
        </div>

        <div class="user">
            <div class='d-flex justify-content-center'>
                <img class="rounded-circle avatar-custom limit-width" alt="Image placeholder"
                    src="../../../assets/img/theme/wedding-01.JPG">
            </div>

            <p class="title">
                tôi đã tìm được người vừa ý xứng đôi
            </p>

            <p class='content'>
                Cảm ơn trang hẹn hò này tôi đã tìm được người vừa ý xứng đôi
            </p>
        </div>

        <div class="user">
            <div class='d-flex justify-content-center'>
                <img class="rounded-circle avatar-custom limit-width" alt="Image placeholder"
                    src="../../../assets/img/theme/wedding-01.JPG">
            </div>

            <p class="title">
                tôi đã tìm được người vừa ý xứng đôi
            </p>

            <p class='content'>
                Cảm ơn trang hẹn hò này tôi đã tìm được người vừa ý xứng đôi
            </p>
        </div>

        <div class="user">
            <div class='d-flex justify-content-center'>
                <img class="rounded-circle avatar-custom limit-width" alt="Image placeholder"
                    src="../../../assets/img/theme/wedding-01.JPG">
            </div>

            <p class="title">
                tôi đã tìm được người vừa ý xứng đôi
            </p>

            <p class='content'>
                Cảm ơn trang hẹn hò này tôi đã tìm được người vừa ý xứng đôi
            </p>
        </div>
        
    </div>

    <div class="center-button view-more">
        <button class="btn btn-primary">Xem thêm</button>
    </div>

</section>