/* You can add global styles to this file, and also import other style files */
.btn-icon-card {
  border: none;
  background-color: white;
}

.btn-icon-card:active {
  transform: translateY(4px);
}

/*Popup Image*/
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img-container {
  width: 33.33%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-container img {
  width: 100%;
  height: auto;
}

.imagePop {
  width: 100%;
  height: 1000vh;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 200;
  display: none;
}

.messagePop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 200;
  display: block;
}

.messagePopUnder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  z-index: 12;
}

.messagePopUnder:hover {
  cursor: zoom-out;
}

.textareaMessage {
  position: absolute;
  z-index: 14;
  width: 40%;
  height: 30vh;
  top: 20%;
  left: 30%;
  cursor: pointer;
  font-size: 20px;
  resize: none;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}

.textareaMessage:focus {
  outline: none;
}

.btnSendMessage {
  position: absolute;
  z-index: 14;
  top: 50%;
  left: 30%;
  width: 40%;
}

.imagePopUnder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 12;
}

.imagePopUnder:hover {
  cursor: zoom-out;
}

.imageContain {
  position: absolute;
  top: 0;
  width: 40%;
  height: 90vh;
  z-index: 12;
  margin: 5vh 30%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  cursor: pointer;
}

@keyframes he {
  100% {
    left: 0;
  }
}

.clickLeft {
  position: absolute;
  z-index: 14;
  top: 5%;
  left: 5%;
  cursor: pointer;
  color: white;
  font-size: 50px;
}

.clickRight {
  position: absolute;
  z-index: 14;
  top: 5%;
  right: 5%;
  cursor: pointer;
  color: white;
  font-size: 50px;
}

.clickLeft:active,
.clickRight:active {
  color: rgb(204, 204, 204);
}

.close {
  position: absolute;
  z-index: 14;
  top: 1%;
  right: 5%;
  cursor: pointer;
  font-size: 50px;
  color: white;
}

.close i:hover {
  color: red;
}

.favorite {
  position: absolute;
  z-index: 14;
  top: 90.5vh;
  right: 31%;
  cursor: pointer;
  font-size: 30px;
}

.numberFavoriteImage {
  position: absolute;
  z-index: 14;
  top: 90.5vh;
  left: 31%;
  cursor: pointer;
  font-size: 30px;
}

.favorite:active {
  transform: translateY(-10px);
}

/*End*/

.user_img_msg {
  height: 50px;
  width: 50px;
  border: none;
}

.notification_mes {
  position: absolute;
  width: 300px;
  height: 80px;
  right: 1%;
  bottom: 2%;
  background-image: linear-gradient(to bottom right, #3c2693, #d782d9);
  padding: 10px 15px !important
}

.notification_mes h5 {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.notification_mes p {
  color: white;
  margin-bottom: 0%;
  padding-left: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}


.statistic-change-left{
  position: absolute;
  left: 1%;
  top: 50%;
}

.statistic-change-left i, .statistic-change-right i {
  font-size: 30px !important;
  color: black !important;
}

.statistic-change-right {
  position: absolute;
  right: 1%;
  top: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "FontAwesome" !important;
  font-weight: 600;
}

body {
  font-family: "FontAwesome" !important;
}

div , a , input {
  font-family: "FontAwesome" !important;
}