/* You can add global styles to this file, and also import other style files */
.btn-icon-card {
    border: none;
    background-color: white;
  }
  
  .btn-icon-card:active {
    transform: translateY(4px);
  }

  /*Popup Image*/
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .img-container{
    width: 33.33%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .img-container img {
    width: 100%;
    height: auto;
  }
  
  .imagePop {
    width: 100%;
    height: 1000vh;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 200;
    display: none;
  }
  
  .imagePopUnder {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     background: rgba(0, 0, 0, 0.9);
     z-index: 12;
  }
  
  .imagePopUnder:hover {
    cursor: zoom-out;
  }
  
  .imageContain {
    position: absolute;
    top: 0;
    width: 40%;
    height: 90vh;
    z-index: 12;
    margin: 5vh 30%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    cursor: pointer;
  }
  
  @keyframes he{
    100% {
      left: 0;
    }
  }
  
  .clickLeft {
    position: absolute;
    z-index: 14;
    top: 5%;
    left: 5%;
    cursor: pointer;
    color: white;
    font-size: 50px;
  }
  
  .clickRight {
    position: absolute;
    z-index: 14;
    top: 5%;
    right: 5%;
    cursor: pointer;
    color: white;
    font-size: 50px;
  }
  
  .clickLeft:active , .clickRight:active {
    color: rgb(204,204,204)
  }
  
  .close {
    position: absolute;
    z-index: 14;
    top: 1%;
    right: 5%;
    cursor: pointer;
    font-size: 50px;
    color: white;
  }
  
  .close i:hover {
    color: red;
  }
  

  .favorite {
    position: absolute;
    z-index: 14;
    top: 90.5vh;
    right: 31%;
    cursor: pointer;
    font-size: 30px;
  }

  .favorite:active {
    transform: translateY(-10px);
  }

/*End*/  