.dropdown-menu::before{
    background: #fff;
    box-shadow: none;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    left: 75px;
    position: absolute;
    bottom: 100%;
    -webkit-transform: rotate(-45deg) translateY(1rem);
    transform: rotate(-45deg) translateY(1rem);
    z-index: -5;
    border-radius: 0.2rem;
}
button:focus {outline:0;}
