
<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section" style="padding: 0%;">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image dropdown" style="display: block;">
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img *ngIf="UserProfile.hasAvatar"src="data:image/gif;base64,{{UserProfile.avatarPath}}" class="rounded-circle">
                  <img *ngIf="!UserProfile.hasAvatar" src="{{UserProfile.avatarPath}}" class="rounded-circle">
                </a>
                <div id="changeAvatar" class="dropdown-menu" style="margin-top: 130px; margin-left: 6%;">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="ni ni-circle-08"></i>
                    <span>Xem ảnh đại diện</span>
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="ni ni-image"></i>
                    <span>Cập nhật ảnh đại diện</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a  href="javascript:void(0)" (click)="clickFollow($event)" class="btn btn-sm btn-info mr-4">Theo dõi</a>
                <a  href="javascript:void(0)" class="btn btn-sm btn-default float-right">Nhắn tin</a>
                <a *ngIf="" href="javascript:void(0)" class="btn btn-sm btn-default float-right">Chỉnh sửa</a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">{{UserProfile.numberOfFollowing}}</span>
                  <button class="btn-icon-card">
                    <span class="description"><i class="fa fa-user text-info"></i></span> <!--Danh sách bạn bè-->
                  </button>
                </div>
                <div>
                  <span class="heading">{{UserProfile.numberOfImages}}</span>
                  <button class="btn-icon-card">
                    <span class="description"><i class="fa fa-camera text-dark"></i></span> <!--Những hình ảnh mà người đó đã up để người tìm kiếm có thể xem-->
                  </button>
                </div>
                <div>
                  <span class="heading">{{UserProfile.numberOfFavoriting}}</span>
                  <button class="btn-icon-card" (click)="checkFavourite($event)">
                    <span span class="description"><i class="ni ni-favourite-28"></i></span> <!--Lượt yêu thích từ mọi người chưa yêu thích-->
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{UserProfile.fullName}}
              
            </h3>
            <span class="font-weight-light">{{UserProfile.age}} Tuổi</span>
            <div class="h6 font-weight-300"><i class="ni ni-pin-3 mr-2"></i>{{UserProfile.profile.location}}</div>
            <br>
            <div class="h6 font-weight-300"><i class="fa fa-info-circle"></i> - {{UserProfile.summary}}</div>

          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="h6 font-weight-300"><b>{{UserProfile.profile.title}}</b></div>
                <table class="table">
                  <tr>
                    <th class="text-left">Tôi là: </th>
                    <td class="text-left">{{UserProfile.profile.iAm}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Nơi ở:</th>
                    <td class="text-left">{{UserProfile.profile.location}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Sinh nhật:</th>
                    <td class="text-left">{{UserProfile.profile.dob}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Dáng người:</th>
                    <td class="text-left">{{UserProfile.profile.body}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Chiều cao:</th>
                    <td class="text-left">{{UserProfile.profile.height}}cm</td>
                  </tr>
                  <tr>
                    <th class="text-left">Cân nặng:</th>
                    <td class="text-left">{{UserProfile.profile.weight}}kg</td>
                  </tr>
                  <tr>
                    <th class="text-left">Công việc:</th>
                    <td class="text-left">{{UserProfile.profile.job}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Mục tiêu:</th>
                    <td class="text-left">{{UserProfile.profile.target}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Học vấn:</th>
                    <td class="text-left">{{UserProfile.profile.education}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Tính cách:</th>
                    <td class="text-left">{{UserProfile.profile.character}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Cách sống:</th>
                    <td class="text-left">{{UserProfile.profile.lifeStyle}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Điều quan trọng nhất:</th>
                    <td class="text-left">{{UserProfile.profile.mostValuable}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Tôn giáo:</th>
                    <td class="text-left">{{UserProfile.profile.religion}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Thể loại phim yêu thích:</th>
                    <td class="text-left">{{UserProfile.profile.favoriteMovie}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Thích không khí:</th>
                    <td class="text-left">{{UserProfile.profile.atmosphereLike}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Hút thuốc:</th>
                    <td class="text-left">{{UserProfile.profile.smoking}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Uống bia:</th>
                    <td class="text-left">{{UserProfile.profile.drinkBeer}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
