<app-navbar *ngIf="router.url != '/statistic' && router.url != '/manager-user' && router.url != '/feature-manager' && router.url != '/image-score'"></app-navbar>
<router-outlet></router-outlet>
<simple-notifications (click)="clickNotificationMes(senderId)"></simple-notifications>
<!-- <div class="notification_mes">
    <div class="d-flex align-self-end" style="padding-bottom: 0%;">
        <img class="rounded-circle user_img_msg"
            src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" alt="">
        <h5 class="p-1" style="margin-bottom: 0%;">Le Quoc Nguyen Vuong</h5>
    </div>
    <p>Hello asd asdas aa122 44 22333 33s</p>
</div> -->

<!-- *ngIf="router.url != '/statistic' && router.url != '/manager-user'" -->