<app-navbar
    *ngIf="router.url != '/statistic' && router.url != '/manager-user' && router.url != '/feature-manager' && router.url != '/image-score' && !router.url.includes('call')">
</app-navbar>

<router-outlet></router-outlet>
<button #openModal id="openModal" type="button" data-toggle="modal" data-target="#videoCallConfirm">
</button>

<simple-notifications (click)="clickNotificationMes(senderId)"></simple-notifications>

<div class="modal fade bd-example-modal-sm" id="videoCallConfirm" tabindex="2" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cuộc gọi video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="caller!=undefined" class='row caller-info'>
                    <a class="avatar">
                        <img src="{{caller.avatarPath}}" class="rounded-circle avatar-custom" alt="Image placeholder" />
                    </a>
                    <p class="caller-name"><b class='font-weight-600'>{{getLastName(caller.userName)}}</b> đang
                        gọi{{caller.callType == CallType.VideoCall ? ' video' : ' thoại'}} đến bạn</p>
                </div>
                <br>
                <button (click)="onAccept()" type="button" class="btn btn-primary" data-dismiss="modal"
                    aria-label="Close">Chấp nhận</button>
                <button (click)="onDecline()" type="button" class="btn btn-secondary" data-dismiss="modal"
                    aria-label="Close">Từ chối</button>
            </div>
        </div>
    </div>
</div>