.relationship {
  width: 94%;
  display: flex;
  justify-content: center;
  padding: 3%;
  margin: 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-title-container {
  position: relative;
  width: 100%;
  textarea {
    border-width: 0.5px;
    border-color: #3c2693;
    border-style: dotted;
  }
  app-chat-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.input-container {
  position: relative;
  width: 50%;
  textarea {
    border-width: 0.5px;
    border-color: #3c2693;
    border-style: dotted;
  }
  app-chat-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.summary-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
  textarea {
    border-width: 0.5px;
    border-color: #3c2693;
    border-style: dotted;
  }
  app-chat-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.blockItem {
  display: flex;
  width: 100%;
  padding: 2%;
  align-items: center;

  .block-stt {
    width: 10%;
  }

  .block-avatar {
    width: 20%;
  }

  .block-name {
    width: 50%;
  }

  .block-action {
    width: 20%;
  }
}

.center-button {
  width: 100%;
  padding: 2% 1%;

  button {
    width: 100%;
  }
}

.have-relationship {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  h5 {
    width: 100%;
  }

  h6 {
    width: 100%;
  }
}

.user-info {
  width: 30%;
}

.user-name {
  margin: 0 0 0 3%;
  font-weight: 600;
  font-size: 20px;
}

.imgAvatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.content-tab {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  .feature-item {
    width: 50%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .feature-item-dynamic {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .feature-item-dynamic-edit {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .form-title {
      width: 45%;
    }

    .form-value {
      width: 235px;
    }
  }

  .feature-item-edit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.form-title {
  border-radius: 0%;
  width: 40%;
  padding: 0 !important;
}

.form-value {
  width: 60%;
  font-family: inherit !important;
}

.form-value:hover {
  width: 60%;
  background-color: #5e72e4 !important;
  color: white;

  option {
    background-color: white;
    color: black;
  }
}

.suggest-action {
  margin: 10%;
}

//////////////////////////
.dropdown-menu::before {
  background: #fff;
  box-shadow: none;
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  left: 75px;
  position: absolute;
  bottom: 100%;
  -webkit-transform: rotate(-45deg) translateY(1rem);
  transform: rotate(-45deg) translateY(1rem);
  z-index: -5;
  border-radius: 0.2rem;
}

.btn-icon-card span {
  cursor: pointer;
}

hr {
  margin: 20px 0px 10px 0px;
}

.table th,
.table td {
  padding: 0px 1rem 0px 1rem;
  border: 0.0625rem solid #dee2e6;
}

.table-hover-profile tr:hover {
  background-color: beige;
}

.table th {
  width: 35%;
  color: rgba(0, 0, 0, 0.7);
}

label {
  font-size: 1rem;
  margin-bottom: 0px;
  color: black;
}

.dobUser:focus,
button:focus {
  outline: 0;
}

.dobUser:hover {
  background-color: beige;

  option {
    background-color: white;
  }
}

.dobUser:hover {
  background-color: #5e72e4;
  color: white;
}

.radioProfile {
  background-color: white;
}

ngx-dropzone,
.custom-dropzone {
  margin: 20px;
}

.custom-dropzone {
  height: 250px;
  background: #8666ce;
  background-image: linear-gradient(to bottom right, #3c2693, #d782d9);
  color: #fff;

  font-size: 20px;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(235, 79, 79);
}

.profile-page .card-profile .card-profile-actions {
  padding: 0.875rem 0;
}

.btn-icon-card:active span i {
  transform: translateY(10px);
}

/* Popup Image */
.close {
  position: absolute;
  z-index: 14;
  top: 1%;
  right: 5%;
  cursor: pointer;
  font-size: 50px;
  color: white;
}

.close i:hover {
  color: red;
}

// End

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.thumb-table {
  width: 100%;
  height: auto;
  min-height: 196px;
  max-height: 196px;
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

//

.icon-hover {
  padding-bottom: 15%;
  margin-bottom: 8%;
}

// .btn-icon-card:hover {
//   font-size: 150%;
//   padding-bottom: 0%;
// }
.card2:hover {
  background-color: #f0e1f7;
  transition: 0.5s;
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.2s ease-in;

  .btn-icon-card {
    background-color: #f0e1f7;
  }
}

.dropbtn:hover {
  background-color: beige;

  option {
    background-color: white;
  }
}

.card-profile-image img {
  width: 180px;
  height: 180px;
}

select option,
select div {
  font-family: inherit !important;
  font-size: 16px;
}

select {
  font-family: inherit !important;
  font-size: 16px;
}

.active-viewImage:active {
  transform: translateY(10px);
}

.form-control {
  font-size: 16px;
  padding-left: 1.75rem;
  margin: 1px 0 1px 0;
  border: none;
  color: #8898aa;
}

.card-title {
  margin-bottom: 0%;
}

.form-control[readonly] {
  background-color: white;
}

:root {
  --color: rebeccapurple;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1.25rem;
  color: var(--color);

  &:focus-within {
    .radio__label {
      transform: scale(1.05);
      opacity: 1;
    }
  }
}

.radio__label {
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.radio__input {
  display: flex;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:focus + .radio__control {
      box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
    }
  }
}

.radio-gradient input:checked + .radio__control {
  background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
}

.radio-before {
  .radio__control {
    display: grid;
    place-items: center;
  }

  input + .radio__control::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5em 0.5em currentColor;
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
  }

  input:checked + .radio__control::before {
    transform: scale(1);
  }
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  transform: translateY(-0.05em);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.line-cut-profile {
  width: 100%;
  height: 10px;
  margin: 0.25rem 0 0.25rem 0;
  border-radius: 0.125rem;
}

.bg-card {
  background-image: linear-gradient(to bottom right, #3c2693, #d782d9);
}

option:hover {
  background-color: #5e72e4;
}

.modal-header {
  h6 {
    color: #5e72e4;
    font-weight: 600;
  }
}

.dropdown-menu-custom {
  top: 182px;
  left: -103px;
}

.dropdown-menu:before {
  display: none;
}

.ul {
  list-style: none;
  justify-content: space-between;
}

.li {
  padding-top: 3%;
}

.end {
  padding-right: 5%;
}

/////@at-root

.animation {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.on-front {
  z-index: 50;
}

.circle-container {
  $particleNum: 200;
  $particleColor: hsl(180, 100%, 80%);

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );

    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
            #{random(100) + vw},
            #{$startPositionY + vh},
            0
          );
        }

        to {
          transform: translate3d(
            #{random(100) + vw},
            #{- $startPositionY - random(30) + vh},
            0
          );
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}
@media (max-width: 800px) {
  .card-profile-stats-custom {
    margin-top: 50px !important;
  }
}

@media (max-width: 450px) {
  .card-profile-stats-custom {
    margin-top: 0px !important;
  }

  .card-profile-actions {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .relationship {
    width: 100%;
    margin-left: 0px;
    .imgAvatar {
      width: 30px;
      height: 30px;
    }

    .user-name {
      font-size: 12px;
      text-align: center;
    }
  }

  .info-container {
    padding: 0px;
  }

  .content-tab {
    .feature-item {
      width: 100%;

      .form-control {
        width: 40%;
      }

      .form-value {
        width: 60%;
      }
    }

    .feature-item-dynamic-edit {
      .form-control {
        width: 40%;
      }

      .form-value {
        width: 60%;
      }
    }
  }

  .summary-container {
    width: 100%;
  }

  .input-container {
    width: 100%;
  }
}
