<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section" style="padding: 0%;">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image dropdown" style="display: block;">
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{{UserProfile.avatarPath}}"
                    class="rounded-circle" (click)="checkUserClickAvatar()">
                  <!-- <img *ngIf="!UserProfile.hasAvatar" src="{{UserProfile.avatarPath}}" class="rounded-circle"
                    (click)="checkUserClickAvatar()"> -->
                </a>
                <div *ngIf="checkUser && authenticationService.UserInfo.Id == currentUserId" id="changeAvatar"
                  class="dropdown-menu" style="margin-top: 130px; margin-left: 6%;">
                  <a href="javascript:;" class="dropdown-item" (click)="seenImageAvatar()">
                    <i class="ni ni-circle-08"></i>
                    <span>Xem ảnh đại diện</span>
                  </a>
                  <a id="updateAvatar" href="javascript:;" class="dropdown-item" (click)="updateAvatar()">
                    <i class="ni ni-image"></i>
                    <span>Cập nhật ảnh đại diện</span>
                  </a>
                  <input (change)="onUpdateAvatar($event)" type="file" id="fileAvata" hidden="true">
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <button *ngIf="!checkUser && !UserProfile.followed" (click)="clickFollow()" class="btn btn-sm btn-info">
                  <i class="fa fa-users"></i>
                  Theo dõi
                </button>

                <button *ngIf="!checkUser && UserProfile.followed" (click)="clickFollow()"
                  class="btn btn-sm btn-danger">
                  <i class="fa fa-users"></i>
                  Hủy theo dõi
                </button>

                <button *ngIf="!checkUser" type="button" class="btn btn-sm btn-primary" (click)="popTextAreaMessage()">
                  <span class="btn-inner--icon"><i style="margin-right:5%;" class="ni ni-chat-round"></i></span>
                  <span class="btn-inner--text">Nhắn tin</span>
                </button>


                <button *ngIf="checkUser" type="button" (click)="clickEdit()" class="btn btn-sm btn-default">
                  <i class="fa fa-edit"></i>
                  Chỉnh sửa
                </button>
                <button *ngIf="checkUser" type="button" class="btn btn-sm btn-primary" (click)="uploadImages()">
                  <span class="btn-inner--icon"><i style="margin-right:5%;" class="ni ni-camera-compact"></i></span>
                  <span class="btn-inner--text">Đăng hình</span>
                </button>

              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <!-- <div *ngIf="!checkUser && UserProfile.blocked">
                  <button class="btn-icon-card" (click)="clickBlockUser()" style="margin-top: 26px;">
                    <span class="description"><i class="fa fa-user-times text-danger"></i></span>
                  </button>
                </div> -->
                <div>
                  <span style="cursor: pointer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                      class="fa fa-ellipsis-v text-dark" style="font-size: 25px; margin-top: 15px;"></i></span>
                  <div class="dropdown-menu dropdown-menu-custom" style="top: 179px;left: -184px;">
                    <a *ngIf="!isYourself" href="#" class="dropdown-item"><i class="fa fa-assistive-listening-systems"></i> Theo dõi</a>
                    <a *ngIf="!isYourself" href="#" class="dropdown-item"><i class="fa fa-heartbeat"></i> Yêu thích</a>
                    <a *ngIf="!isYourself" href="#" class="dropdown-item"><i class="fa fa-ban"></i>Không muốn gặp lại</a>
                    <a *ngIf="isYourself" href="#" class="dropdown-item"><i class="fa fa-users"></i>Xem danh sách đen</a>
                  </div>
                </div>
                <!-- <div *ngIf="!checkUser && !UserProfile.blocked">
                  <button class="btn-icon-card" (click)="clickBlockUser()" style="margin-top: 26px;">
                    <span class="description"><i class="fa fa-user text-info"></i></span>
                  </button>
                </div> -->
                <div *ngIf="checkUser">
                  <span class="heading">{{UserProfile.numberOfFollowers}}</span>
                  <button class="btn-icon-card" (click)="onViewFriendList()">
                    <span class="description"><i class="fa fa-user text-info"></i></span>
                  </button>
                  <!--Xem danh sách bạn bè-->
                </div>
                <!-- <div *ngIf="checkUser">
                  <button class="btn-icon-card" (click)="onViewBlockList()" style="margin-top: 26px;">
                    <span class="description"><i class="fa fa-user-times text-danger"></i></span>
                  </button>
                  
                </div> -->
                <div>
                  <span class="heading">{{UserProfile.numberOfImages}}</span>
                  <button class="btn-icon-card" id="img_{{UserProfile.id}}" (click)="viewImageList()">
                    <span class="description">
                      <i class="fa fa-camera text-dark"></i>
                    </span>
                    <img *ngFor="let item of imagesResponse; let i = index" display="true" hidden="true"
                      id="img_{{i + 1}}_{{item.liked}}_{{imagesResponse.length}}_{{item.id}}_{{item.numberOfLikes}}"
                      src="" alt="{{item.imagePath}}">
                    <!--Những hình ảnh mà người đó đã up để người tìm kiếm có thể xem-->
                  </button>
                </div>
                <div>
                  <span class="heading">{{UserProfile.numberOfFavoritors}}</span>
                  <button class="btn-icon-card">
                    <span *ngIf="UserProfile.favorited" style="cursor: pointer;" (click)="clickFavourite()"
                      class="description"><i class="ni ni-favourite-28 text-danger"></i></span>
                    <span *ngIf="!UserProfile.favorited" style="cursor: pointer;" (click)="clickFavourite()"
                      class="description"><i class="ni ni-favourite-28"></i></span>
                    <!--Lượt yêu thích từ mọi người chưa yêu thích-->
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{UserProfile.fullName}}</h3>
            <div class="d-flex row justify-content-center">
              <span class="font-weight-light">{{UserProfile.age}} Tuổi</span>
              <div class="h6 font-weight-300"><i class="ni ni-pin-3 mr-1 ml-2"></i>{{UserProfile.location}}
              </div>
            </div>
            <div class="h6 font-weight-300"><i class="fa fa-info-circle"></i> - {{UserProfile.summary}}
            </div>

          </div>
          <hr>
          <div class="text-center">
            <div id="alert-custom">
              <alert style="padding-left: 15px; padding-right: 15px;"></alert>
            </div>
            <div *ngIf="!isViewFriendList && !isViewImageList && !isViewBlockList">
              <div *ngIf="!uploadImage" style="display:block;" class="animate-bottom">
                <div *ngIf="!editing" class="h2 font-weight-300"><b>{{UserProfile.title}}</b>
                </div>
                <div *ngIf="editing" class="h4 font-weight-300 d-flex justify-content-center">
                  <input type="text" placeholder="Tiêu đề hồ sơ"
                    class="text-center form-control col-5 col-xl-5 col-md-5 col-lg-5" name="" id=""
                    value="{{UserProfile.title}}" [(ngModel)]="UserProfile.title" [ngModelOptions]="{standalone: true}">
                </div>

                <!-- Tabs -->

                <div class="nav-wrapper">
                  <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab"
                        href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i
                          class="ni ni-circle-08 mr-2"></i>Thông tin cá nhân</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                        href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i
                          class="ni ni-favourite-28 mr-2"></i>Sở thích</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab"
                        href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i
                          class="ni ni-zoom-split-in mr-2"></i>Tìm kiếm</a>
                    </li>
                  </ul>
                </div>
                <div class="card shadow">
                  <div class="card-body">
                    <div class="tab-content" id="myTabContent">

                      <!-- Tab 01 - Thông tin cơ bản -->
                      <div class="tab-pane fade show active animate-bottom" id="tabs-icons-text-1" role="tabpanel"
                        aria-labelledby="tabs-icons-text-1-tab">

                        <!--Giới tính-->


                        <div class="d-flex flex-row">
                          <input type="text" value="Giới tính" class="form-control form-title text-center col-3"
                            style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                          <input *ngIf="!editing" type="text" value="{{UserProfile.gender}}"
                            [(ngModel)]="UserProfile.gender" [ngModelOptions]="{standalone: true}" class="form-control"
                            style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          <input *ngIf="editing" type="text" value="{{UserProfile.gender}}"
                            [(ngModel)]="UserProfile.gender" [ngModelOptions]="{standalone: true}" class="form-control"
                            style="border-radius: 0 0.25rem 0.25rem 0;" list="gender">
                          <datalist id="gender">
                            <option value="{{UserProfile.gender}}" disabled selected hidden>
                              {{UserProfile.gender}}</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                          </datalist>
                        </div>

                        <!-- <div class="d-flex flex-row">
                          <input type="text" value="Giới tính" class="form-control form-title text-center col-3"
                            style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                          <div *ngIf="!editing" class="d-flex align-items-center ml-3 col-3 col-xl-3 col-lg-3 col-md-3">
                            <label class="radio radio-before">
                              <span class="radio__input">
                                <input [(ngModel)]="UserProfile.gender" [ngModelOptions]="{standalone: true}"
                                  *ngIf="UserProfile.gender == 'Nam'" type="radio" name="gender" value="Nam" checked
                                  disabled>
                                <input [(ngModel)]="UserProfile.gender" [ngModelOptions]="{standalone: true}"
                                  *ngIf="UserProfile.gender != 'Nam'" type="radio" name="gender" value="Nam" disabled>
                                <span class="radio__control"></span>
                              </span>
                              <span class="radio__label">Nam</span>
                            </label>
                          </div>


                          <div *ngIf="!editing" class="d-flex align-items-center col-3 col-xl-3 col-lg-3 col-md-3">
                            <label class="radio radio-before">
                              <span class="radio__input">
                                <input [(ngModel)]="UserProfile.gender" [ngModelOptions]="{standalone: true}"
                                  *ngIf="UserProfile.gender == 'Nữ'" type="radio" name="gender" value="Nữ" checked
                                  disabled>
                                <input [(ngModel)]="UserProfile.gender" [ngModelOptions]="{standalone: true}"
                                  *ngIf="UserProfile.gender != 'Nữ'" type="radio" name="gender" value="Nữ" disabled>
                                <span class="radio__control"></span>
                              </span>
                              <span class="radio__label">Nữ</span>
                            </label>
                          </div>

                          
                          <div *ngIf="editing" class="d-flex align-items-center ml-3 col-3 col-xl-3 col-lg-3 col-md-3">
                            <label class="radio radio-before">
                              <span class="radio__input">
                                <input [(ngModel)]="UserProfile.gender" [ngModelOptions]="{standalone: true}"
                                  *ngIf="UserProfile.gender == 'Nam'" type="radio" name="gender" value="Nam" checked>
                                <input [(ngModel)]="UserProfile.gender" [ngModelOptions]="{standalone: true}"
                                  *ngIf="UserProfile.gender != 'Nam'" type="radio" name="gender" value="Nam">
                                <span class="radio__control"></span>
                              </span>
                              <span class="radio__label">Nam</span>
                            </label>
                          </div>
                          <div *ngIf="editing" class="d-flex align-items-center col-3 col-xl-3 col-lg-3 col-md-3">
                            <label class="radio radio-before">
                              <span class="radio__input">
                                <input [(ngModel)]="UserProfile.gender" [ngModelOptions]="{standalone: true}"
                                  *ngIf="UserProfile.gender == 'Nữ'" type="radio" name="gender" value="Nữ" checked>
                                <input [(ngModel)]="UserProfile.gender" [ngModelOptions]="{standalone: true}"
                                  *ngIf="UserProfile.gender != 'Nữ'" type="radio" name="gender" value="Nữ">
                                <span class="radio__control"></span>
                              </span>
                              <span class="radio__label">Nữ</span>
                            </label>
                          </div>
                        </div> -->
                        <!--end-->

                        <!--Nơi ở-->
                        <div class="d-flex flex-row">
                          <input type="text" value="Nơi ở" class="form-control form-title text-center col-3"
                            style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                          <input *ngIf="!editing" type="text" value="{{UserProfile.location}}"
                            [(ngModel)]="UserProfile.location" [ngModelOptions]="{standalone: true}"
                            class="form-control" style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          <input *ngIf="editing" type="text" value="{{UserProfile.location}}"
                            [(ngModel)]="UserProfile.location" [ngModelOptions]="{standalone: true}"
                            class="form-control" style="border-radius: 0 0.25rem 0.25rem 0;" list="locations">
                          <datalist id="locations">
                            <option value="{{UserProfile.location}}" disabled selected hidden>
                              {{UserProfile.location}}</option>
                            <option *ngFor="let item of profileData.location" value="{{item}}">{{item}}</option>
                          </datalist>
                        </div>
                        <!--end-->

                        <!--Ngày sinh-->
                        <div class="d-flex flex-row">
                          <input type="text" value="Ngày sinh" class="form-control form-title text-center col-3"
                            style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                          <input *ngIf="!editing" value="{{UserProfile.dob | date: 'dd/MM/yyyy'}}" class="form-control"
                            style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          <input *ngIf="editing" [(ngModel)]="UserProfile.dob" [ngModelOptions]="{standalone: true}"
                            type="date" id="dobUser" class="form-control dobUser" name="dob"
                            style="border-radius: 0 0.25rem 0.25rem 0;">
                        </div>
                        <!--end-->

                        <!--Chiều cao-->
                        <div class="d-flex flex-row">
                          <input type="text" value="Chiều cao (cm)" class="form-control form-title text-center col-3"
                            style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                          <input *ngIf="!editing" type="text" value="{{UserProfile.height}}"
                            [(ngModel)]="UserProfile.height" [ngModelOptions]="{standalone: true}" class="form-control"
                            style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          <input *ngIf="editing" type="number" value="{{UserProfile.height}}"
                            [(ngModel)]="UserProfile.height" [ngModelOptions]="{standalone: true}" class="form-control"
                            style="border-radius: 0 0.25rem 0.25rem 0;" list="heights">
                          <datalist id="heights">
                            <option value="{{UserProfile.height}}" disabled selected hidden>
                              {{UserProfile.height}}</option>
                            <option *ngFor="let item of arrayNumbers(100, 120)" value="{{item}}">{{item}}</option>
                          </datalist>
                        </div>
                        <!--end-->

                        <!--Cân nặng-->
                        <div class="d-flex flex-row">
                          <input type="text" value="Cân nặng (kg)" class="form-control form-title text-center col-3"
                            style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                          <input *ngIf="!editing" type="text" value="{{UserProfile.weight}}"
                            [(ngModel)]="UserProfile.weight" [ngModelOptions]="{standalone: true}" class="form-control"
                            style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          <input *ngIf="editing" type="number" value="{{UserProfile.weight}}"
                            [(ngModel)]="UserProfile.weight" [ngModelOptions]="{standalone: true}" class="form-control"
                            style="border-radius: 0 0.25rem 0.25rem 0;" list="weights">
                          <datalist id="weights">
                            <option value="{{UserProfile.weight}}" disabled selected hidden>
                              {{UserProfile.weight}}</option>
                            <option *ngFor="let item of arrayNumbers(100, 30)" value="{{item}}">{{item}}</option>
                          </datalist>
                        </div>
                        <!--end-->

                        <!--Công việc-->
                        <div class="d-flex flex-row">
                          <input type="text" value="Công việc" class="form-control form-title text-center col-3"
                            style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                          <input *ngIf="!editing" type="text" value="{{UserProfile.job}}" [(ngModel)]="UserProfile.job"
                            [ngModelOptions]="{standalone: true}" class="form-control"
                            style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          <input *ngIf="editing" type="text" value="{{UserProfile.job}}" [(ngModel)]="UserProfile.job"
                            [ngModelOptions]="{standalone: true}" class="form-control"
                            style="border-radius: 0 0.25rem 0.25rem 0;" list="jobs">
                          <datalist id="jobs">
                            <option value="{{UserProfile.job}}" disabled selected hidden>
                              {{UserProfile.job}}</option>
                            <option *ngFor="let item of profileData.job" value="{{item}}">{{item}}</option>
                          </datalist>
                        </div>
                        <!--end-->

                        <div *ngIf="!editing">
                          <div *ngFor="let item of Features" class="d-flex flex-row">
                            <input *ngIf="item.isSearchFeature" type="text" value="{{item.name}}"
                              class="form-control form-title text-center col-3"
                              style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                            <input *ngIf="item.isSearchFeature" type="text" value="{{item.content}}"
                              class="form-control" style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          </div>

                        </div>

                        <div *ngIf="editing">
                          <div *ngFor="let item of Features; let i = index" class="d-flex flex-row">
                            <input *ngIf="item.isSearchFeature" type="text" value="{{item.name}}"
                              class="form-control form-title text-center col-3"
                              style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>


                            <select (change)='onOptionsFeatureSelected($event, i)' *ngIf="item.isSearchFeature"
                              type="text" value="{{item.featureDetailId}}" [(ngModel)]="Features[i].featureDetailId"
                              [ngModelOptions]="{standalone: true}" class="form-control"
                              style="border-radius: 0 0.25rem 0.25rem 0;" list="likeTechnologys">

                              <option value="{{item.featureDetailId}}">{{item.content}}
                              </option>
                              <option *ngFor="let value of item.featureDetails" value="{{value.id}}">{{value.content}}
                              </option>
                            </select>
                          </div>
                        </div>

                      </div>

                      <!-- Tab 02 - Sở thích -->
                      <div class="tab-pane fade animate-bottom" id="tabs-icons-text-2" role="tabpanel"
                        aria-labelledby="tabs-icons-text-2-tab">

                        <div *ngIf="!editing">
                          <div *ngFor="let item of Features" class="d-flex flex-row">
                            <input *ngIf="!item.isSearchFeature" type="text" value="{{item.name}}"
                              class="form-control form-title text-center col-3"
                              style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                            <input *ngIf="!item.isSearchFeature" type="text" value="{{item.content}}"
                              class="form-control" style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          </div>

                        </div>

                        <div *ngIf="editing">
                          <div *ngFor="let item of Features; let i = index" class="d-flex flex-row">
                            <input *ngIf="!item.isSearchFeature" type="text" value="{{item.name}}"
                              class="form-control form-title text-center col-3"
                              style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>

                            <select (change)='onOptionsFeatureSelected($event, i)' *ngIf="!item.isSearchFeature"
                              type="text" value="{{item.featureDetailId}}" [(ngModel)]="Features[i].featureDetailId"
                              [ngModelOptions]="{standalone: true}" class="form-control"
                              style="border-radius: 0 0.25rem 0.25rem 0;" list="likeTechnologys">

                              <option value="{{item.featureDetailId}}">{{item.content}}
                              </option>
                              <option *ngFor="let value of item.featureDetails" value="{{value.id}}">{{value.content}}
                              </option>
                            </select>
                          </div>
                        </div>

                      </div>

                      <!-- Tab 03 - Các Search features -->
                      <div class="tab-pane fade animate-bottom" id="tabs-icons-text-3" role="tabpanel"
                        aria-labelledby="tabs-icons-text-3-tab">
                        <!--Giới tính gợi ý-->
                        <div class="d-flex flex-row">
                          <input type="text" value="Giới tính gợi ý" class="form-control form-title text-center col-3"
                            style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                          <input *ngIf="!editing" type="text" value="{{UserProfile.findPeople}}"
                            [(ngModel)]="UserProfile.findPeople" [ngModelOptions]="{standalone: true}"
                            class="form-control" style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          <input *ngIf="editing" type="text" value="{{UserProfile.findPeople}}"
                            [(ngModel)]="UserProfile.findPeople" [ngModelOptions]="{standalone: true}"
                            class="form-control" style="border-radius: 0 0.25rem 0.25rem 0;" list="genders">
                          <datalist id="genders">
                            <option value="{{UserProfile.findPeople}}" disabled selected hidden>
                              {{UserProfile.findPeople}}</option>
                            <option *ngFor="let item of profileData.gender" value="{{item}}">{{item}}</option>
                          </datalist>
                        </div>
                        <!--end-->

                        <!--Độ tuổi gợi ý-->
                        <div class="d-flex flex-row">
                          <input type="text" value="Độ tuổi gợi ý" class="form-control form-title text-center col-3"
                            style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                          <input *ngIf="!editing" type="text" value="{{UserProfile.findAgeGroup}}"
                            [(ngModel)]="UserProfile.findAgeGroup" [ngModelOptions]="{standalone: true}"
                            class="form-control" style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          <input *ngIf="editing" type="text" value="{{UserProfile.findAgeGroup}}"
                            [(ngModel)]="UserProfile.findAgeGroup" [ngModelOptions]="{standalone: true}"
                            class="form-control" style="border-radius: 0 0.25rem 0.25rem 0;" list="ageGroup">
                          <datalist id="ageGroup">
                            <option value="{{UserProfile.findAgeGroup}}" disabled selected hidden>
                              {{UserProfile.findAgeGroup}}</option>
                            <option *ngFor="let item of profileData.ageGroup" value="{{item}}">{{item}}</option>
                          </datalist>
                        </div>
                        <!--end-->

                        <div *ngIf="!editing">
                          <div *ngFor="let item of SearchFeatures" class="d-flex flex-row">
                            <input type="text" value="{{item.name}}" class="form-control form-title text-center col-3"
                              style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>
                            <input type="text" value="{{item.content}}" class="form-control"
                              style="border-radius: 0 0.25rem 0.25rem 0;" readonly>
                          </div>

                        </div>

                        <div *ngIf="editing">
                          <div *ngFor="let item of SearchFeatures; let i = index" class="d-flex flex-row">
                            <input type="text" value="{{item.name}}" class="form-control form-title text-center col-3"
                              style="color: black; border-radius: 0.25rem 0 0 0.25rem;" readonly>

                            <select (change)='onOptionsSearchFeatureSelected($event, i)' type="text"
                              value="{{item.featureDetailId}}" [(ngModel)]="SearchFeatures[i].featureDetailId"
                              [ngModelOptions]="{standalone: true}" class="form-control"
                              style="border-radius: 0 0.25rem 0.25rem 0;" list="likeTechnologys">

                              <option value="{{item.featureDetailId}}">{{item.content}}
                              </option>
                              <option *ngFor="let value of item.featureDetails" value="{{value.id}}">{{value.content}}
                              </option>
                            </select>
                          </div>
                        </div>


                      </div>

                    </div>
                  </div>
                </div>
                <!--end-->
              </div>
            </div>



            <div class="row justify-content-center">
              <div *ngIf="!isViewFriendList && !isViewImageList" class="col-lg-9">

                <!-- Upload Images -->
                <div *ngIf="uploadImage">
                  <div *ngIf="uploadStatus=='none'" style="display:block;" #myDiv class="animate-bottom">
                    <p>Upload your pictures!</p>

                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                      <ngx-dropzone-label>
                        <div>
                          <h2 style="color: white;">Drop file here ...</h2>
                        </div>
                      </ngx-dropzone-label>
                      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                        [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                    </div>

                    <div>
                      <input *ngIf="files.length>0" class="form-control" style="color: #525f7f;"
                        [(ngModel)]="imageTitle" type="text" placeholder="Description...">
                      <br>
                      <button *ngIf="files.length>0" type="button" style="width:100%" (click)="onUpload()"
                        class="btn btn-sm btn-success">
                        <i class="fa fa-upload"></i>
                        Upload
                      </button>
                    </div>
                    <hr>
                  </div>

                  <div style="margin-bottom:15%" *ngIf="uploadStatus=='loading'">
                    <div id="loader"></div>
                  </div>


                </div>

                <div *ngIf="!uploadImage" style="display:block;" class=" animate-bottom">

                  <form role="form" #Info="ngForm">
                    <button *ngIf="editing && !updating" style="width:100%" (click)="onUpdateInfo(Info)"
                      class="btn btn-primary float-right mt-2 mb-2">
                      <i class="fa fa-edit"></i>
                      Cập nhật
                    </button>

                    <button *ngIf="updating" style="width:100%" type="button" class="btn btn-primary float-right">
                      <fa-icon size="1x" [icon]="faSpinner" [spin]="true"></fa-icon>
                      Updating...
                    </button>
                  </form>
                </div>
              </div>
            </div>


            <!-- <div *ngIf="isViewBlockList" class="h4 font-weight-300 animate-bottom text-danger"><b>Danh sách Block</b>
            </div>
            <div *ngIf="isViewBlockList" class="col-lg-12 col-md-12 row pl-3"
              style="margin-left: 0%; margin-right: 0%;">

              <div *ngFor="let item of BlockList; let i = index" class="col-md-3 col-xl-3 animate-bottom"
                style="flex: none; margin-left: 0%; margin-right: 0%; margin-bottom: 15px;">
                <div class="card card2">
                  <div class="d-flex justify-content-center" (click)="clickProfileUser(item.id)">
                    <a style="cursor: pointer"><img *ngIf="item.hasAvatar" class="card-img-top thumb-table"
                        src="data:image/gif;base64,{{item.avatarPath}}" alt="Avatar"></a>
                    <a style="cursor: pointer"><img *ngIf="!item.hasAvatar" class="card-img-top thumb-table"
                        src="{{item.avatarPath}}" alt="Avatar"></a>
                  </div>
                  <div class="card-body" style="padding-top: 5px; padding-bottom: 5px;">
                    <div style="height: 90px;" (click)="clickProfileUser(item.id)">
                      <a style="cursor: pointer">
                        <h6 class="card-title limit-title" style="margin-bottom: 2px; font-size: 90%;">
                          {{item.fullName}}
                        </h6>
                      </a>
                      <p class="card-text limit-text" style="line-height: 100%; cursor: pointer"><small
                          class="text-muted">{{item.summary}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <hr>
            <!-- Xem hình -->
            <div *ngIf="imagesResponse.length > 0" class="h2 font-weight-300 animate-bottom"><b>Hình ảnh
              </b> </div>

            <div *ngIf="imagesResponse.length == 0" class="h2 font-weight-300 animate-bottom"><b>Chưa có hình ảnh
                nào!</b> </div>

            <div class="col-lg-12 col-md-12 row pl-3 shadow" style="margin-left: 0%; margin-right: 0%;">
              <div *ngFor="let item of imagesResponse; let i = index" class="col-md-3 col-xl-3 animate-bottom">
                <div *ngIf="i < 8" style="flex: none; margin-left: 0%; margin-right: 0%; margin-bottom: 15px;">
                  <div class="card card2">
                    <div class="d-flex justify-content-center" id="img_{{UserProfile.id}}_{{i}}"
                      onclick="selectImage(id)">
                      <a style="cursor: pointer"><img *ngIf="item.imagePath" class="card-img-top thumb-table"
                          src="{{item.imagePath}}" alt="Avatar"></a>
                      <a style="cursor: pointer"><img *ngIf="!item.imagePath" class="card-img-top thumb-table"
                          src="{{item.imagePath}}" alt="Avatar"></a>
                    </div>
                  </div>
                </div>
                <div *ngIf="i >= 8 && isSeenMoreImage"
                  style="flex: none; margin-left: 0%; margin-right: 0%; margin-bottom: 15px;">
                  <div class="card card2">
                    <div class="d-flex justify-content-center" id="img_{{UserProfile.id}}_{{i}}"
                      onclick="selectImage(id)">
                      <a style="cursor: pointer"><img *ngIf="item.imagePath" class="card-img-top thumb-table"
                          src="{{item.imagePath}}" alt="Avatar"></a>
                      <a style="cursor: pointer"><img *ngIf="!item.imagePath" class="card-img-top thumb-table"
                          src="{{item.imagePath}}" alt="Avatar"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!isSeenMoreImage && imagesResponse.length >= 8"
                class="alert alert-default btn active-viewImage" style="width: 100%; margin: 0 15px;"
                (click)="clickSeenMoreImage()">
                <h6 class="text-white" style="margin:-1%;padding:-2%;">Xem Thêm</h6>
              </div>
            </div>

            <hr>
            <br>

            <!-- Danh sách bạn bè -->
            <div *ngIf="isYourself && FriendList.length > 0" class="h2 font-weight-300 animate-bottom"><b>Bạn bè</b>
            </div>
            <div *ngIf="isYourself && FriendList.length == 0" class="h2 font-weight-300 animate-bottom"><b>Chưa có bạn
                bè</b> </div>
            <div *ngIf="isYourself" class="col-lg-12 col-md-12 row pl-3 shadow"
              style="margin-left: 0%; margin-right: 0%;">

              <div *ngFor="let item of FriendList; let i = index" class="col-md-3 col-xl-3 animate-bottom"
                style="flex: none; margin-left: 0%; margin-right: 0%; margin-bottom: 15px;">
                <div class="card card2">
                  <div class="d-flex justify-content-center" (click)="clickProfileUser(item.id)">
                    <a style="cursor: pointer"><img class="card-img-top thumb-table"
                        src="{{item.avatarPath}}" alt="Avatar"></a>
                    <!-- <a style="cursor: pointer"><img *ngIf="!item.hasAvatar" class="card-img-top thumb-table"
                        src="{{item.avatarPath}}" alt="Avatar"></a> -->
                  </div>
                  <div class="card-body" style="padding-top: 5px; padding-bottom: 5px;">
                    <div style="height: 90px;" (click)="clickProfileUser(item.id)">
                      <a style="cursor: pointer">
                        <h6 class="card-title limit-title" style="margin-bottom: 2px; font-size: 90%;">
                          {{item.fullName}}
                        </h6>
                      </a>
                      <p class="card-text limit-text" style="line-height: 100%; cursor: pointer"><small
                          class="text-muted">{{item.summary}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<section class="imagePop" id="imagePopId">
  <div class="clickLeft" id="clickButtonLeft" onclick="imageMoveLeft()"><i class="fa fa-arrow-circle-left"></i></div>
  <div class="clickRight" id="clickButtonRight" onclick="imageMoveRight()"><i class="fa fa-arrow-circle-right"></i>
  </div>
  <div class="favorite" id="clickFavoriteImage" onclick="favoriteImage(event)" (click)="updateStateImage()"><i
      class="ni ni-favourite-28 text-white"></i></div>
  <div class="numberFavoriteImage text-danger" style="font-weight: 600;" id="numberFavoriteImage"></div>
  <div class="close" id="clickButtonClose" onclick="imagePopNone()"><i class="fa fa-times"></i></div>
  <section class="imagePopUnder" onclick="imagePopNone()"></section>
  <section class="imageContain" id="imageContainId" onclick="imageMoveRight()" value=""></section>
</section>
<section *ngIf="popMessage" class="messagePop" id="messagePopId">
  <textarea class="textareaMessage" name="" id="" cols="" rows="" (keyup.enter)="sendMessage(UserProfile.id)"
    [value]="txtMessage" (input)="txtMessage=$event.target.value"></textarea>
  <section class="messagePopUnder" (click)="nonePopMessage()"></section>
  <button class="btnSendMessage btn btn-info" style="border-radius: 0px 0px 5px 5px;"
    (click)="sendMessage(UserProfile.id)">Gửi</button>
</section>
<!-- <app-seen-image image="{{UserProfile.avatarPath}}"></app-seen-image> -->

<section class="imagePop" id="imagePopAvatar">
  <!-- <div class="favorite" id="clickFavoriteImage"><i class="ni ni-favourite-28 text-white"></i></div> -->
  <div class="close" id="clickButtonClose" onclick="imagePopNone()"><i class="fa fa-times"></i></div>
  <section class="imagePopUnder" onclick="imagePopNone()"></section>
  <section class="imageContain" id="imageContainId"
    style="background: url({{UserProfile.avatarPath}});" value=""></section>
</section>

<app-footer></app-footer>