.contain-manager-user {
    background: #EEEFF8;
    height: 100vh;
    /* padding: 15px 25px 15px 25px; */
}

.table-responsive {
    overflow: hidden;
    border-radius: 10px;
}

.table {
    margin-bottom: 0%;
}

.dropdown-menu {
    position: absolute !important;
}

.dropdown-toggle::after{
    display: none;
}