<div id="alert-custom">
  <alert></alert>
</div>
<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Update your password!</small>
              </div>


              <form role="form" #ChangePassword="ngForm">
                
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input matInput name="OldPassword" ngModel #From="ngModel" class="form-control"
                      placeholder="Mật khẩu cũ" type="password" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input matInput name="NewPassword" ngModel #From="ngModel" class="form-control"
                      placeholder="Mật khẩu mới" type="password" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input matInput name="ConfirmPassword" ngModel #From="ngModel" class="form-control"
                      placeholder="Xác nhận mật khẩu" type="password" />
                  </div>
                </div>
                <div class="text-muted font-italic">
                  <!-- <small>password strength:
                      <span class="text-success font-weight-700">strong</span>
                    </small> -->
                </div>

                <div class="text-center">
                  <button *ngIf="Loading" (click)="onSubmit(ChangePassword)" type="button" class="btn btn-primary mt-4">
                    <fa-icon size="1x" [icon]="faSpinner" [spin]="true"></fa-icon>
                    Loading...
                  </button>

                  <button *ngIf="!Loading" (click)="onSubmit(ChangePassword)" type="button"
                    class="btn btn-primary mt-4">
                    <fa-icon size="1x" [icon]="faCheck"></fa-icon>
                    Đổi mật khẩu
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>