<div class="navbar-admin">
    <ul class="list-group">
        <li class="logoAdmin" style="border: none;" (click)="clickHome()">
            <img class="col-12 col-lg-12 col-md-12 mb-4 mt-2" style="padding: 0%;" src="./assets/img/brand/logo.JPG" alt="">
        </li>
        <li>
            <div class="card-profile-image dropdown d-flex align-items-center mb-3" style="display: block;">
                <img *ngIf="!authenticationService.UserInfo.hasAvatar" class="rounded-circle"
                    src="{{authenticationService.UserInfo.avatarPath}}" alt="avatar">
                <img *ngIf="authenticationService.UserInfo.hasAvatar" class="rounded-circle"
                    src="data:image/gif;base64,{{authenticationService.UserInfo.avatarPath}}" alt="avatar">
                <h6 class="text-white m-1">{{authenticationService.UserInfo.FullName}}</h6>
            </div>
        </li>
        <li class="list-group-item" (click)="clickMyProfile()">
            Xem hồ sơ cá nhân
        </li>
        <li *ngIf="!urlFeatureManger" class="list-group-item" (click)="clickFeatureManager()">
            Quản lý features
        </li>
        <li *ngIf="urlFeatureManger" class="list-group-item active" (click)="clickFeatureManager()">
            Quản lý features
        </li>
        <li class="list-group-item" (click)="clickMessage()">
            Tin nhắn
        </li>
        <li *ngIf="urlStatistic" class="list-group-item active" (click)="clickStatistic()">
            Thống kê
        </li>
        <li *ngIf="!urlStatistic" class="list-group-item" (click)="clickStatistic()">
            Thống kê
        </li>
        <li *ngIf="urlManagerUser" class="list-group-item active" (click)="clickManagerUser()">
            Quản lý người dùng
        </li>

        <li *ngIf="!urlManagerUser" class="list-group-item" (click)="clickManagerUser()">
            Quản lý người dùng
        </li>

        <li *ngIf="urlImageScore" class="list-group-item active" (click)="clickImageScore()">
            Lọc hình ảnh
        </li>

        <li *ngIf="!urlImageScore" class="list-group-item" (click)="clickImageScore()">
            Lọc hình ảnh
        </li>
    </ul>
</div>