<section
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-anchor-placement="top-bottom"
  data-aos-once="true"
  class="why-choose"
>
  <div class="part">
    <header
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-anchor-placement="top-bottom"
      data-aos-once="true"
    >
      Vì sao chọn ZINGER?
    </header>
    <p class="content">
      <b>Zinger</b> là trang web về người Việt và hẹn hò Việt hàng đầu đã kết
      nối hàng ngàn người Việt lại với nhau, bạn có thể tìm thấy những người phù
      hợp để kết bạn, trò chuyện, giải trí hoặc để yêu, hẹn hò và tiến tới kết
      hôn.
    </p>

    <p class="content">
      Nếu bạn đang mong muốn tìm kiếm những trải nghiệm thú vị về kết bạn, hẹn
      hò với người Việt, <b>Zinger là trang web cho bạn</b> và là một sự lựa
      chọn tốt cho bạn.
    </p>
  </div>

  <div class="part">
    <header
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-anchor-placement="top-bottom"
      data-aos-once="true"
    >
      Hệ thống giao tiếp, thông báo trực tuyến
    </header>
    <p class="content">
      Tham gia <b>Zinger</b>, bạn có thể nhắn tin, gọi điện và thực hiện các
      cuộc gọi, và cuộc gọi video trực tiếp với nhau, cùng với hệ thống thông
      báo thời gian thực, bạn sẽ không bỏ lỡ bất cứ hành động nào với bạn bè của
      mình.
    </p>

    <p class="content">
      Không những vậy, bạn có thể truy cập vào hệ thống bằng điện thoại thông
      qua các ứng dụng mobile của chúng tôi, mang lại cho bạn trải nghiệm tốt
      nhất.
    </p>
  </div>

  <div class="part">
    <header
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-anchor-placement="top-bottom"
      data-aos-once="true"
    >
      Các câu chuyện thành công được chia sẻ mỗi ngày
    </header>
    <p class="content">
      Chúng tôi đã thành công trong việc kết nối bạn bè, mang những người độc
      thân đến với nhau. Hàng ngàn đàn ông và phụ nữ hạnh phúc đã tìm được bạn
      bè và người bạn đời của mình trên <b>Zinger</b> và chia sẻ câu chuyện của
      họ với chúng tôi. Hãy xem những câu chuyện thành công này
      <a routerLink="/shared-stories">tại đây</a>.
    </p>

    <p class="content">
      Để có những trải nghiệm thú vị, an toàn và độc đáo về kết bạn hoặc hẹn hò,
      hãy <a href="#">tham gia miễn phí ngay hôm nay</a>.
    </p>
  </div>
</section>

<section
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-anchor-placement="top-center"
  data-aos-once="false"
  class="found-love"
>
  <header
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-anchor-placement="top-center"
    data-aos-once="false"
    class="text-center"
  >
    Những thành viên đã tìm được đối tượng của mình
  </header>
  <div class="user-group">
    <div class="user">
      <div class="d-flex justify-content-center">
        <img
          class="rounded-circle avatar-custom limit-width"
          alt="Image placeholder"
          src="../../../assets/img/theme/wedding-01.JPG"
        />
      </div>

      <p>
        Hàng ngày, những người dùng hệ thống tìm thấy được bạn bè và bạn đời
        trên <b>Zinger</b> và chia sẻ câu chuyện của họ với chúng tôi.
      </p>
    </div>

    <div class="user">
      <div class="d-flex justify-content-center">
        <img
          class="rounded-circle avatar-custom limit-width"
          alt="Image placeholder"
          src="../../../assets/img/theme/wedding-02.JPG"
        />
      </div>

      <p>
        Hãy bắt đầu một chương mới trong cuộc đời bạn và viết nên câu chuyện
        thành công của chính mình. Chúng tôi muốn nghe tin tốt từ bạn!
      </p>
    </div>
  </div>

  <div class="center-button">
    <a routerLink="/shared-stories" class="btn btn-primary">
      Đọc các câu chuyện được chia sẻ
    </a>
  </div>
</section>

<section
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-anchor-placement="top-center"
  data-aos-once="false"
  class="how-work"
>
  <header
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-anchor-placement="top-center"
    data-aos-once="false"
    class="text-center"
  >
    Hoạt động như thế nào?
  </header>

  <p class="guide">Tham gia <b>Zinger</b> ngay với 3 bước đơn giản:</p>

  <div class="step-group">
    <div class="step">
      <div class="d-flex justify-content-center">
        <img
          class="limit-width"
          src="../../../assets/img/theme/register-icon.png"
        />
      </div>
      <p>
        Hãy đăng ký một tài khoản, hoặc có thể liên kết với tài khoản
        <a routerLink="/login">Facebook</a> và
        <a routerLink="/login">Google</a> của bạn!
      </p>
    </div>

    <div class="step">
      <div class="d-flex justify-content-center">
        <img
          class="limit-width"
          src="../../../assets/img/theme/add-profile.png"
        />
      </div>

      <p>
        Tạo hồ sơ chỉ trong tích tắc với quy trình đăng ký dễ dàng. Đừng quên
        thêm ảnh nhé!
      </p>
    </div>

    <div class="step">
      <div class="d-flex justify-content-center">
        <img class="limit-width" src="../../../assets/img/theme/chat.JPG" />
      </div>

      <p>
        Hãy gửi một tin nhắn hay quan tâm để bắt đầu giao tiếp với các thành
        viên. Đây là thời điểm để bạn toả sáng.
      </p>
    </div>
  </div>

  <div class="center-button">
    <button (click)="onSignUp()" class="btn btn-primary">
      Tìm người phù hợp với bạn
    </button>
  </div>
</section>

<section
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-anchor-placement="top-center"
  data-aos-once="false"
  class="mobile-support"
>
  <div
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-anchor-placement="top-center"
    data-aos-once="false"
    class="summary-part"
  >
    <p>
      Việc tìm kiếm người phù hợp lý tưởng của bạn chưa bao giờ dễ dàng hơn với
      ứng dụng <b>Zinger</b> dành cho <b>IOS</b> và <b>Android</b>. Có thể tải
      MIỄN PHÍ ngay.
    </p>

    <div class="download-group">
      <img
        class="download-button"
        src="../../../assets/img/theme/app-store.JPG"
      />
      <br />
      <img
        class="download-button"
        src="../../../assets/img/theme/google-play.JPG"
      />
    </div>
  </div>

  <div class="mobile-image-part">
    <img
      class="mobile-screen"
      src="../../../assets/img/theme/android-login.png"
    />
    <img
      class="mobile-screen"
      src="../../../assets/img/theme/android-login.png"
    />
  </div>
</section>
