.tooltip-custom .tooltiptext-custom {
  visibility: hidden;
  width: 150px;
  background-color: #5e72e4;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -40px;
  position: absolute;
  z-index: 1;
}

.tooltip-custom:hover .tooltiptext-custom {
  visibility: visible;
  animation: fadeIn;
  animation-duration: 0.5s;
}

.container-body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.like-animation {
  position: relative;
  width: 1px;
  height: 1px;
  margin: 0 auto;
  button {
    position: absolute;
  }
}

.container-custom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.thumb {
  width: 100%;
  height: 310px;
  background-color: #3e3e3e;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.renew-btn {
  margin-left: 2%;
}

.news-title {
  padding-bottom: 0;
}

.users {
  min-width: 1400px;
}

.p-carousel {
  padding: 0% 20% 0% 20%;
}

.table th {
  border: 2px #dedede solid;
  border-radius: 15px;
}

.table td {
  border: none;
  padding: 0%;
}

.table {
  border-collapse: separate;
}

.thumb-table {
  width: 100%;
  height: auto;
  min-height: 196px;
  max-height: 196px;
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.search {
  width: 88%;
  padding: 7px 14%;
  background: #edeffa;
  font-weight: bold;
  border: 1px solid #dbe1f3;
}

.search:hover {
  background: #d8dbef;
}

.text-box {
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 1px;
  padding-bottom: 2px;
  background-color: #3c4d69;
  border-radius: 10px 10px 0px 0px;
}

.form-search {
  width: 100%;
  border: 1px black solid;
  border-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  border-radius: 0px 0px 10px 10px;
}

.form-control {
  padding-top: 1px;
  padding-bottom: 1px;
  height: calc(2.5rem + 4px);
  width: 80%;
  margin-bottom: 10px;
}

.limit-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.gallery {
  background: #eee;
}

.gallery-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.img-thumbnail {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  background-color: white;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: none;
  padding: 0%;
}

button:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "FontAwesome";
  font-weight: 600;
}

.icon-hover {
  padding-bottom: 15%;
  margin-bottom: 8%;
}

#container {
  width: 100%;
}

.friend-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container {
  width: 33%;
}

.person-card {
  height: 100%;
}

.person-card:hover {
  background-color: #f0e1f7;
  transition: 0.5s;
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow 0.2s ease-in;
  z-index: 1;
  animation: pulse;
  animation-duration: 2s;
  .btn-icon-card {
    background-color: #f0e1f7;
  }
}

.dropbtn:hover {
  background-color: #e6e6e6;

  option {
    background-color: white;
  }
}

.dropbtn {
  option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    border: 0.0625rem solid #dee2e6;
  }

  option:hover {
    background-color: #dee2e6;
  }
}

a.btn-icon-card,
a.icon-hover {
  color: black;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;

  padding: 0;
  margin-bottom: 2%;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

#loader {
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.onlineCount {
  position: fixed;
  left: 5%;
  top: 90%;
}

.BackToTop {
  position: fixed;
  left: 5%;
  top: 50%;
}

#myBtn {
  display: block;
  /* Mặc định button sẽ được ẩn*/
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 1000;
  /* button được ưu tiên hiển thị đè lên các phần khác*/
  border: none;
  outline: none;
  background-color: #3c4d69;

  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
}

#myBtn:hover {
  width: 55px;
  height: 55px;
}

ngx-dropzone,
.custom-dropzone {
  margin: 20px;
  margin-bottom: 1%;
}

.custom-dropzone {
  height: 200px;
  background: #8666ce;
  background-image: linear-gradient(to bottom right, #3c2693, #d782d9);
  color: #fff;

  font-size: 20px;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(235, 79, 79);
}

.news {
  margin: 20px;
  width: 94%;
  height: 80px;
  font-size: 15px;
}

.image-content {
  width: 550px;
  height: 600px;
  object-fit: cover;
}

.func-button:hover {
  background-color: #f4f5f7;
  border-color: #f4f5f7;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.func-button {
  background-color: #ffffff;
  border-width: 0;
  box-shadow: none;
}

.func-button-true {
  background-color: #ffffff;
  border-width: 0;
  box-shadow: none;
  color: #5e72e4;
}

.news-content {
  width: 80%;
  margin: auto;
}

.tab-custom {
  border: none;
}

.tab-content {
  border: none;
  padding: 3% 1% 3% 1%;
}

.tab-space {
  border: none;
}

.card-body {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1% 2% 1% 2%;

  .summary {
    height: 85px;
  }

  .icons {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .btn-icon-card {
    margin: 0px 0px 0px 10px;
    padding: 0;
    a {
      cursor: pointer;
    }
  }

  .icon-custom {
    cursor: pointer;
    color: #3c4d69;
  }

  .icon-container {
    width: 46px;
    height: 25px;
    i {
      font-size: 20px;
    }
  }
  .icon-container:hover {
    i {
      animation: bounceIn;
      animation-duration: 2s;
    }
  }
}

.image-container {
  img {
    object-fit: cover;
  }
}

.hide-right-space {
  display: none;
}

.left-content {
  width: 50%;
}

.right-content {
  width: 20%;
  padding: 0;
}

#right-space {
  width: 20%;
}

.fixed-content {
  position: fixed;
  width: 20%;
  right: 15%;
  bottom: 5%;
}

.image-title {
  text-align: left;
  padding: 5px;
  margin: 0;
}

.new-content {
  hr {
    margin: 15px;
  }
}

.news-header {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  cursor: pointer;
  .header-image {
    padding: 1%;
  }

  .header-title {
    padding: 1%;
    margin: 0;
    width: 80%;

    p {
      font-weight: bold;
      font-size: 15px;
      margin: 0;
      padding: 0;
    }

    small {
      margin-bottom: 0px !important;
      padding: 0;
    }

    .ni-time-custom {
      margin-left: 4px;
      margin-top: 1px;
    }
  }
}

.actions-group {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  button {
    label {
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 1025px) {
  .p-carousel {
    padding: 0 5% 0% 5%;
  }
  #myBtn {
    display: none;
  }

  .onlineCount {
    display: none;
  }

  .left-content {
    width: 80%;
  }
  .fixed-content {
    position: fixed;
    width: 20%;
    right: 0%;
    bottom: 5%;
  }
}

@media (max-width: 800px) {
  .p-carousel {
    padding: 0;
  }
  .thumb-table {
    min-height: 250px;
    max-height: 250px;
  }

  #myBtn {
    display: none;
  }

  .onlineCount {
    display: none;
  }

  .left-content {
    width: 100%;
  }

  .friend-container {
    justify-content: center;
  }

  .card-container {
    justify-content: space-between;
    width: 33.3%;
    padding: 1%;
    margin: 0;
  }

  .right-content {
    display: none;
  }
}

.input-container {
  position: relative;

  app-chat-icon {
    position: absolute;
    right: 30px;
    bottom: 5px;
  }
}

@media (max-width: 500px) {
  .p-carousel {
    padding: 0;
  }
  .input-container {
    position: relative;

    app-chat-icon {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }
  }

  .image-title {
    font-size: 14px;
  }

  .header-title {
    small {
      font-size: 12px;
    }
  }

  .actions-group {
    button {
      label {
        display: none;
      }

      i {
        padding: 0;
        margin: 0;
      }
    }
  }

  .thumb-table {
    min-height: 250px;
    max-height: 250px;
  }

  #myBtn {
    display: none;
  }

  .onlineCount {
    display: none;
  }

  .left-content {
    width: 100%;
  }

  .friend-container {
    justify-content: center;
  }

  .card-container {
    width: 100%;
  }

  .right-content {
    display: none;
  }

  .custom-dropzone {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0;
    height: 80px;
  }

  .news {
    margin: 0 0 5px 0;
    width: 100%;
    height: 50px;
    font-size: 12px;
  }

  .news-content {
    width: 100%;
    margin: auto;
  }

  .image-content {
    width: 370px;
    height: 420px;
  }
}

@media (max-width: 376.01px) {
  .image-content {
    width: 320px;
    height: 400px;
  }
}

@media (max-width: 321.01px) {
  .image-content {
    width: 270px;
    height: 320px;
  }
}

/////

/* The Modal (background) */
.modal-image {
  display: none;
  position: fixed;
  z-index: 101;
  padding-top: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-image-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 100%;
}

/* The Close Button */
.close {
  color: #999;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.like-icon {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  font-size: 40px;
  padding: 15px;
}

.like-animate {
  animation: backOutUp;
  color: #f5365c;
  animation-duration: 1s;
}

.unlike-animate {
  animation: flipInX;
  color: white;
  animation-duration: 1s;
}

.image-mode-icon {
  bottom: 20px;
  left: -30px;
}
.like-icon-active {
  animation: heartBeat;
  color: #f5365c;
  animation-duration: 1s;
}

.like-icon-inactive {
  animation: flip;
  color: white;
  animation-duration: 1s;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.full-screen {
  height: 650px;
  width: 1000px;
  object-fit: contain;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 10px;

  color: white;
}

#caption {
  margin-bottom: 0px;
}

.demo {
  width: 100%;
  opacity: 0.6;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.slides {
  width: 100%;
  width: 195px;
  height: 195px;
  object-fit: cover;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-radio {
  margin-left: 5%;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  margin-left: 2%;
  width: 70%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5e72e4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5e72e4;
  cursor: pointer;
}

.object-center {
  margin: 0 auto;
}

.column {
  float: left;
  margin: 5px;
}

#myModal {
  padding: 0;
  z-index: 102;
}

///////////

.animation {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.circle-container {
  $particleNum: 200;
  $particleColor: hsl(180, 100%, 80%);

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );

    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
            #{random(100) + vw},
            #{$startPositionY + vh},
            0
          );
        }

        to {
          transform: translate3d(
            #{random(100) + vw},
            #{- $startPositionY - random(30) + vh},
            0
          );
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}
