<div style="display: flex; flex-direction: row;">
  <app-navbar-admin></app-navbar-admin>
  <div class="col-10 col-xl-10 col-lg-10 col-md-10 p-5 contain-statistic">
    <div class="d-flex justify-content-between mb-5">
      <div class="col-3 col-xl-3 col-lg-3 col-md-3 card mt-1 mb-1 bg-default">
        <div class="card-body ">
          <div class="d-flex">
            <i class="fa fa-globe"></i>
            <div class="d-flex flex-column col-8">
              <h3>Online</h3>
              <p><b>{{messageService.onlineCount}}</b> users</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-xl-3 col-lg-3 col-md-3 card mt-1 mb-1 bg-primary">
        <div class="card-body">
          <div class="d-flex">
            <i class="fa fa-user-plus"></i>
            <div class="d-flex flex-column col-8">
              <h3>Signup</h3>
              <p><b>{{thisMonth}}</b> new users</p>
              <p *ngIf="growthRate>0"><b><i style="font-size:20px;color:#B2F8B2;margin-top:0%;padding-top:0%"
                    class="fa fa-arrow-up"></i> {{growthRate}}%</b></p>
              <p *ngIf="growthRate<0"><b><i style="font-size:20px;color:#ff0000;margin-top:0%;padding-top:0%"
                    class="fa fa-arrow-down"></i> {{growthRate}}%</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-xl-3 col-lg-3 col-md-3 card mt-1 mb-1 bg-warning">
        <div class="card-body">
          <div class="d-flex">
            <i class="fa fa-users"></i>
            <div class="d-flex flex-column col-8">
              <h3>Accounts</h3>
              <p style="margin-bottom:0%;padding-bottom:0%"><b>{{activeAccounts}}</b> active</p>
              <p style="margin-top:0%;padding-top:0%"><b>{{inactiveAccounts}}</b> inactive</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="col-7 col-xl-7 col-lg-7 col-md-7 card">
        <div class="card-body">
          <div *ngIf="!chartChange" class="chart">
            <!-- Chart wrapper -->
            <canvas baseChart width="5" height="3" [datasets]="yearLineChartData" [labels]="yearLineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            <div class="statistic-change-left"><i class="fa fa-arrow-circle-left" (click)="changeStatistic()"></i></div>
            <div class="statistic-change-right"><i class="fa fa-arrow-circle-right" (click)="changeStatistic()"></i>
            </div>
          </div>
          <div *ngIf="chartChange" class="chart">
            <!-- Chart wrapper -->
            <canvas baseChart width="5" height="3" [datasets]="monthLineChartData" [labels]="monthLineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            <div class="statistic-change-left"><i class="fa fa-arrow-circle-left" (click)="changeStatistic()"></i></div>
            <div class="statistic-change-right"><i class="fa fa-arrow-circle-right" (click)="changeStatistic()"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 col-xl-4 col-lg-4 col-md-4 card">
        <div class="card-body">
          <div class="chart">
            <canvas baseChart width="100" height="100" [data]="pieChartData" [labels]="pieChartLabels"
              [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
              [colors]="pieChartColors" [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="flex-item">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
        <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
        <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
        <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
        <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
      </div> -->
<!-- lineChart -->
<!-- [datasets]="lineChartData"
[labels]="lineChartLabels"
[options]="lineChartOptions"
[legend]="lineChartLegend"
[ChartType]="lineChartType" -->